/*
  Color names come from http://chir.ag/projects/name-that-color, and their aim is to maintain clearer color library.
    It's also faster to change the color variables that way.
 */

$white: #fff;

$wild-sand: #f5f5f5;
$regent-gray: #868D98;
$gallery: #ebebeb;
$iron: #e1e3e5;
$mine-shaft: #3F3F3F;

$oxford-blue: #354052;