/*
  Color names come from http://chir.ag/projects/name-that-color, and their aim is to maintain clearer color library.
    It's also faster to change the color variables that way.
 */

$white: #fff;

$regent-gray: #868D98;

$oxford-blue: #354052;