@import '../../styles/typography';
@import '../../styles/colors';
@import '../../styles/variables';

$tab-active-background: $white;
$tab-inactive-background: $gallery;
$tab-border-color: $iron;
$tab-text-color: $oxford-blue;

.tab {
  background: $tab-inactive-background;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 28px;
  border-bottom: 2px solid $tab-border-color;
  color: $tab-text-color;
}

.active {
  background: $tab-active-background;
  border: 2px solid $tab-border-color;
  border-bottom: 0;
  border-radius: 5px 5px 0 0;

  &:last-child {
    border-right: 0;
    border-top-right-radius: 0;
  }

  &:first-child {
    border-left: 0;
    border-top-left-radius: 0;
  }
}