@import '../../styles/typography';
@import '../../styles/colors';
@import '../../styles/variables';

$input-placeholder-color: $regent-gray;
$input-text-color: $oxford-blue;
$input-border-color: $regent-gray;

.message-input-wrapper {
  width: 100%;
  font-size: $font-size-normal;
  padding: 1em;
  display: flex;
  flex-flow: row nowrap;
}

.input {
  flex: 1;
  font-size: $font-size-normal;
  padding: 0.8em;
  border-radius: 0.5em;
  border: 1px solid $input-border-color;
  color: $input-text-color;
  transition: opacity $transition-quick;
  resize: none;
  font-weight: $light;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: $input-placeholder-color;
  }
}

.input--disabled {
  opacity: 0.5;
}