@import './styles/typography';
@import './styles/colors';
@import './styles/variables';

$app-background: $mine-shaft;
$chat-widget-background: $gallery;

.App {
  display: flex;
  justify-content: center;
  background: $app-background;
  height: 100vh;
  overflow: hidden;
  flex-flow: column;
}

.chat-widget {
  width: 100%;
  max-width: 400px;
  background: $chat-widget-background;
  display: flex;
  flex-flow: column;
  flex: 1;
}